/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
/* Custom font for Brand name*/
header .container span {
  font-family: "Fredericka the Great", cursive;
}
/* Hide the brand logo for small screens*/
@media screen and (max-width: 491px) {
  header .container img {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .carousel-item img {
    width: 1vw;
  }
}
